.dialogs{
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.message{
    background-color: floralwhite;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 3px;
}

.formMessage{
    margin-top: 100px;
}

.formMessage textarea{
    width: 700px;
    background-color: floralwhite;
    height: 50px;
}